{#<footer id="footer">#}
    {#<address id="coordonnees">#}
       {#<strong>NOM DU SITE</strong><br />#}
       {#adresse<br />#}
       {#Télephone<br />#}
       {#Fax<br />#}
        {#<a href="#" onclick="location.href=dolink(this.title); return false;" title="contact..åt..nomdedomaine.com">Email</a> - <a href="#" title="">Plan d'accès</a>#}
    {#</address>#}
    {##}
    {#<p class="center">#}
        {#&copy; {{ date|date('Y') }} Nom de la société | <a href="{{ path('point_web_app_legal') }}" title="Mentions légales">Mentions légales</a> | <a href="{{ path('point_web_app_sitemap') }}" title="Plan du site">Plan du site </a> | <a href="http://point-web.fr" target="_blank" title="création de site internet Lyon Rhone Alpes 69">Réalisation &amp; développement du site : SERCO POINT WEB</a>#}
    {#</p>#}
{#</footer>#}